.schemaform {
  width: 100%;
  margin-top: 10px;
  height: calc(100vh - 400px);
  overflow-y: auto;
}

.formdata {
  margin-top: 10px;
  width: 100%;
  height: 300px;
  overflow: auto;
}

.mytab {
  height: calc(100vh - 53px);
  /* width: calc(100% - 300px); */
  overflow: auto;
  /* padding: 10px; */
  margin: 10px;
  color: #676767;
  text-align: left;
  overflow: auto;
}